{% extends "base.html" %}

{% block title %}Email Confirmation{% endblock %}

{% block content %}
    <!-- Title section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Email Confirmation</h3>
                        <p>Please confirm your email address to complete the registration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap" style="margin-top: -30px; margin-bottom: 100px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Button Card -->
                    <div class="card-footer text-center">
                        <a href="{% url 'root_home' %}" class="btn btn-pulse btn-block">Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
