{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Title Section -->
    <div class="quality_area">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section_title mb-55 text-center">
                        <h3>Create Forum</h3>
                    </div>
                </div>
            </div>

            <!-- Big Card Wrapper -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="big-card">
                        <form method="post">
                            {% csrf_token %}
                            <label for="{{ form.title.id_for_label }}">Title:</label><br>
                            {{ form.title }}
                            <br>
                            <label for="{{ form.description.id_for_label }}">Description:</label><br>
                            {{ form.description }}
                            <br>
                            <button type="submit" class="create-forum-button">Create Forum</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
