{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Start of the Title Section -->
    <div class="quality_area">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section_title mb-55 text-center">
                        <h3>Create Forum</h3>
                    </div>
                </div>
            </div>

            <!-- Start of the Big Card Wrapper -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="big-card">
                        <!-- Start of the Form to create a forum -->
                        <form method="post">
                            {% csrf_token %}
                            <!-- Label and input field for the forum title -->
                            <label for="{{ form.title.id_for_label }}">Title:</label><br>
                            {{ form.title }}
                            <br>
                            <!-- Label and input field for the forum description -->
                            <label for="{{ form.description.id_for_label }}">Description:</label><br>
                            {{ form.description }}
                            <br>
                            <!-- Submit button to create the forum -->
                            <button type="submit" class="create-forum-button">Create Forum</button>
                        </form>
                    </div><!-- End of the Big Card -->
                </div><!-- End of the Column -->
            </div><!-- End of the Row -->
        </div><!-- End of the Container -->
    </div><!-- End of the Quality Area -->

{% endblock %}
