<!--
    Last modified: 09/05/2023
    Modified by: Andrew Roney
-->

{% extends "base.html" %}
{% load static %}
{% block title %}Community{% endblock %}
{% block content %}

    <!-- section  -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Community</h3>
                        <p>A place to share ideas.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{% url 'community:create_forum' %}">Create a new forum</a>
                {% for forum in forums %}
                    <h2><a href="{% url 'forum' forum.id %}">{{ forum.title }}</a></h2>
                    <p>{{ forum.description }}</p>
                    <p>Created on: {{ forum.date_created }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- section  --> 

{% endblock %}
