<!--
    Last modified: 09/05/2023
    Modified by: Andrew Roney
-->

{% extends "base.html" %}
{% load static %}
{% block title %}Community{% endblock %}
{% block content %}

    {% comment %} <!-- section  -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Community</h3>
                        <p>A place to share ideas.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for _ in "123456" %}
                    <div class="col-lg-4 col-md-6">
                        <!-- Wrap the box content inside an anchor tag -->
                        <a href="#" class="box-link">
                            <div class="single_quality">
                                <!-- We can replace the icons here -->
                                <div class="icon">
                                    <i class="flaticon-customer-service"></i>
                                </div>
                                <h3 class="card-title text-center">Title</h3>
                                <p class="card-text">Some content here. This can be a brief description or anything else
                                    we
                                    want to display in this box.</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- section  --> {% endcomment %}

    <!-- forum section  -->
    <div class="forum_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Community Forum</h3>
                        <p>Discuss, Share, Learn.</p>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <button id="newPostButton" class="btn btn-primary">Create New Post</button>
                    <!-- New Post Form (Initially hidden)-->
                    <div id="newPostFormDiv" class="new_post_form"  style="display:none">
                        <h4>Create a New Post</h4>
                        <form id="newPostForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="postTitle">Title</label>
                                <input type="text" class="form-control" id="postTitle" name="title" placeholder="Enter post title">
                            </div>
                            <div class="form-group">
                                <label for="postContent">Content</label>
                                <textarea class="form-control" id="postContent" name="content" rows="4" placeholder="Enter post content"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="posts">
                    <!-- Posts will be added here -->
                </div>
            </div>
        </div>
    </div>
    <!-- End forum section  -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/community.js' %}"></script>

{% endblock %}
