@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700|Work+Sans:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700|Work+Sans:300,400,500,600,700,900&display=swap");

.flex-center-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.overlay::before {
    background-image: -moz-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
    background-image: -ms-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
}

.boxed-btn6, .boxed-btn6:hover {
    background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
.flex-center-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.overlay::before {
    background-image: -moz-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
    background-image: -ms-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
}

.boxed-btn6, .boxed-btn6:hover {
    background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
    background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 140px;
}

.owl-carousel .owl-nav div.owl-next i {
    position: relative;
    right: 0;
}

.owl-carousel .owl-nav div.owl-prev i {
    position: relative;
    top: 0;
}

.owl-carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
    color: #fff;
    background: #009DFF;
    border: 1px solid transparent;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-40 {
    margin-bottom: 40px;
}


.section_title h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 48px;
    color: #191d34;
    position: relative;
    z-index: 1;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .section_title h3 {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (max-width: 767px) {
    .section_title h3 br {
        display: none;
    }
}

.section_title p {
    font-size: 16px;
    color: #6b6a6a;
    line-height: 30px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .section_title p br {
        display: none;
    }
}

.mb-100 {
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .mb-100 {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .mobile_menu {
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 9;
    }
}

.header-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
}

@media (max-width: 767px) {
    .header-area {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area {
        padding-top: 0;
    }
}

.header-area .main-header-area {
    background: #E31937;

}


.main-menu nav ul#navigation li a {
    font-size: 1.4rem !important;
}


@media (max-width: 767px) {
    .header-area .main-header-area {
        padding: 10px 10px;
    }

    .header-area .main-header-area .logo-img {
        text-align: left;
    }

    .main-menu nav ul#navigation li a {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area {
        padding: 10px 10px;
    }

    .header-area .main-header-area .logo-img {
        text-align: left;
    }

    .main-menu nav ul#navigation li a {
        font-size: 1.2rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-header-area .logo-img {
        text-align: left;
    }

    .main-menu nav ul#navigation li a {
        font-size: 1.3rem !important;
    }
}


.slider_area .single_slider {
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 767px) {
    .slider_area .single_slider {
        height: 500px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider_area .single_slider {
        height: 700px;
    }
}

.slider_area .single_slider .slider_text > span {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    display: block;
}

.slider_area .single_slider .slider_text h3 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 85px;
    margin-top: 22px;
    margin-bottom: 42px;
}

.slider_area .single_slider .slider_text h3 span {
    font-weight: 700;
}

@media (max-width: 767px) {
    .slider_area .single_slider .slider_text h3 {
        font-size: 33px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider_area .single_slider .slider_text h3 {
        font-size: 55px;
        line-height: 65px;
    }
}

.slider_area .single_slider .slider_text p {
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 40px;
    margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .slider_area .single_slider .slider_text p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .slider_area .single_slider .slider_text p {
        font-size: 16px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer {
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #E31937;
    border-top: 5px solid #38B6FF;
    position: relative;
    z-index: 0;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.bordered_1px {
    border-top: 1px solid #4e5a69;
    padding-bottom: 30px;
    display: block;
    overflow: hidden;
    width: 100%;
}


.quality_area {
    padding-top: 195px;
    padding-bottom: 170px;
}


@media (max-width: 767px) {
    .quality_area.minus_padd {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .quality_area {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}

.btn-pulse {
    background-color: #38B6FF;
    color: white;
    border-color: #38B6FF;
}

.jumbotron-pulse {
    background-color: rgba(56, 182, 255, 0.9);
}

.modal-backdrop {
    z-index: 2000 !important;
}

.modal {
    z-index: 2050 !important;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.create-forum-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #38B6FF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.forum-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forum-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #38B6FF;
}

.forum-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.forum-date {
    font-size: 0.8em;
    color: #888;
}

.big-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* or any color you prefer */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.quality_area .error {
    color: red !important;
    font-weight: bold !important;
}

.card-header {
    background-color: #E31937;
    padding: 10px 10px;
    color: white;
}

.blue-bar {
    background-color: #38B6FF;
    height: 5px;
    width: 100%;
}

.card-body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-top-margin {
    margin-top: -100px;
}
