{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_title mb-55 text-center">
                        <h3>About Us</h3>
                        <p>PulsePoint is more than a website.</p>
                    </div>

                    <!-- About the Website  -->
                    <div class="about-website-content text-center mb-55">
                        <p>This is where we can write more about the website,
                            its mission, its inception, and any other details we want to highlight.</p>
                    </div>
                </div>
            </div>

            <!-- Team Members About Me Sections -->
            <div class="row">
                <!-- Johnathon -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Johnathon</h4>
                        <p>About me details for Johnathon.</p>
                    </div>
                </div>

                <!-- Sam -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Sam</h4>
                        <p>About me details for Sam.</p>
                    </div>
                </div>

                <!-- Kevin -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Kevin</h4>
                        <p>About me details for Kevin.</p>
                    </div>
                </div>


                <div class="col-lg-2"></div>
                <!-- Hunter -->
                <div class="col-lg-4 mb-30" style="margin-top: 50px">
                    <div class="team-member-box p-3 border">
                        <h4>Hunter</h4>
                        <p>About me details for Hunter.</p>
                    </div>
                </div>

                <!-- Andrew -->
                <div class="col-lg-4 mb-30" style="margin-top: 50px">
                    <div class="team-member-box p-3 border">
                        <h4>Andrew</h4>
                        <p>About me details for Andrew.</p>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

{% endblock %}
