{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

    <!-- Header Section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_title mb-55 text-center">
                        <h3>About Us</h3>
                    </div>

                    <!-- About the Website  -->
                    <div class="about-website-content text-center mb-55">
                        <p>The PulsePoint team is here to help. We like to think that we can best support you if you
                            know who we are. Have questions? <a href="{% url 'contact' %}">Contact us</a> so we can
                            help.</p>
                    </div>
                </div>
            </div>

            <!-- Team Members About Me Sections -->
            <div class="row">
                <!-- Johnathon -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Johnathon</h4>
                        <p>My name is Johnathan B. I grew up in the video game industry. In doing so, I had so many
                            career paths but was unsure what to do after I worked for my father for so long and did
                            contract work in games on the side. So, I decided to join the United States Air Force like
                            my grandfather did to see if I would like that career path again. In doing so, I was in
                            maintenance and enjoyed the job; however, I developed medical conditions where I could no
                            longer stand for periods. So, after separating from the Air Force, I decided it was time to
                            follow a childhood interest in software. Now, here I am today, being a product manager for
                            our capstone class.</p>
                    </div>
                </div>

                <!-- Sam -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Sam</h4>
                        <p>Hi, I'm Sam. I served in the world's greatest army for 8 years, as a member of 1st Ranger
                            Battalion. While serving, I discovered a love for technology and coding. After my time in
                            service, I decided to pursue a Computer Science degree. I work in the public sector,
                            providing operational support to U.S. government clients. I enjoy golf, vacations in Hawaii,
                            and a good IPA. I am the lead Developer for PulsePoint.</p>
                    </div>
                </div>

                <!-- Kevin -->
                <div class="col-lg-4 mb-30">
                    <div class="team-member-box p-3 border">
                        <h4>Kevin</h4>
                        <p>Hello everyone. I'm Kevin Ifill, and I'm currently working full time as QA and Triaging in
                            Florida and with mainly art as a hobby. I currently have an Associates in Computer
                            Engineering and have done training in DevOps, extending that to portions of the development
                            of this application, and automating testing for it.</p>
                    </div>
                </div>

                <div class="col-lg-2"></div>
                <!-- Hunter -->
                <div class="col-lg-4 mb-30" style="margin-top: 50px">
                    <div class="team-member-box p-3 border">
                        <h4>Hunter</h4>
                        <p>Hi, I'm Hunter. With 5 years as a Cyber Systems Operator in the Air Force and a pivotal role
                            in our capstone team, I’ve balanced my professional and personal life, cherishing my roles
                            as a dedicated husband and father to my 4-month-old son. My contributions to the project
                            included crafting detailed documentation, conceiving the project idea, and coding key
                            website features. I’m now working towards a Computer Science degree, aspiring to become a
                            Cyberspace Warfare Officer, blending my hands-on experience with academic insights for a
                            future in cyberspace warfare.</p>
                    </div>
                </div>

                <!-- Andrew -->
                <div class="col-lg-4 mb-30" style="margin-top: 50px">
                    <div class="team-member-box p-3 border">
                        <h4>Andrew</h4>
                        <p>Hi, my name is Andrew and I live in Maryland. I received my B.S in Web Development from
                            Capitol Technology University and have a passion for baking, website building, and pet care.
                            After a lengthy career search, I have decided to return to school and pursue a B.S in
                            Computer Science in order to improve my skills and increase my career opportunities. I had
                            the role of developer for the project.</p>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

{% endblock %}
