<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pulse Point{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PulsePoint
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'root_home' %}">Home</a>
                    <a class="dropdown-item" href="{% url 'community:home' %}">Community</a>
                    <a class="dropdown-item" href="{% url 'resources:home' %}">Resources</a>
                    <!-- User related links -->
                    {% if user.is_authenticated %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Hello, {{ user.username }}</a>
                        <a class="dropdown-item" href="{% url 'moodtracker:home' %}">Mood Tracker</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a>
                    {% else %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    {% block content %}
    {% endblock %}
</div>

<!-- Optional: jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
