{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <!-- Contact Support Section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Contact Support</h3>
                        <p>If you have any issues or questions, please reach out to us:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="{% url 'send_email' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                            <textarea name="message" class="form-control" rows="5" placeholder="Your Message"
                                      required></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-pulse">Send Message</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}