{% extends "base.html" %}
{% block title %}Reset Link{% endblock %}
{% block content %}

    <!-- Notification section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Check your email</h3>
                        <p>If you have an account, we have sent you a reset link.</p>
                        <i class="fa-solid fa-key fa-5x"
                           style="color: #38B6FF; margin-top: 60px; margin-bottom: 30px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to homepage button section -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="center-button-container">
                    <!-- Link to the homepage -->
                    <a href="{% url 'root_home' %}" class="btn btn-pulse">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
