{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- The Welcome Section -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-5 text-center">
                        <!-- Welcome  message -->
                        <h3>Welcome to PulsePoint</h3>
                        <p>Your digital sanctuary for emotional well-being.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content wrapper-->
    <div class="container-wrap" style="margin-top: -150px; margin-bottom: 100px;">
        <div class="container">
            <div class="row d-flex align-items-stretch">

                <!-- Video Embed Section -->
                <div class="col-lg-8 text-center">
                    <div class="video-wrapper">
                        <!-- Embedded YouTube video-->
                        <iframe style="display: block; margin: auto;" width="100%" height="420"
                                src="https://www.youtube.com/embed/BpzVvUGfJeA"
                                allow="accelerometer; autoplay; clipboard-write;
                                encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Daily Quote Box -->
                <div class="col-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h3 class="card-title text-center">Daily Quote</h3>
                        </div>
                        <div class="blue-bar"></div>
                        <div class="card-body">
                            <p class="card-text">
                            <blockquote>
                                {{ quote }}
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>

            <!-- About section -->
            <div class="row" style="margin-top: 100px;">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title text-center">What PulsePoint is All About</h4>
                        </div>
                        <div class="blue-bar"></div>
                        <div class="card-body">
                            <p class="card-text text-left" style="font-size: 18px;">
                                In the fast-paced milieu of our daily routines, we must remain mentally fortified to
                                confront the unexpected. PulsePoint is dedicated to serving as a digital sanctuary,
                                meticulously designed to cater to the diverse needs of its users. Our objective is to
                                provide a comprehensive array of resources, tools, and a thriving community that not
                                only equips individuals with the means to bolster their emotional resilience but also
                                fosters a profound sense of holistic well-being.
                            </p>
                            <p class="card-text text-left" style="font-size: 18px;">
                                In a world of uncertainties, PulsePoint endeavors to become a reliable pillar of
                                support, offering users a steadfast refuge to navigate the intricacies of life. Our
                                platform is meticulously curated, drawing upon the latest research and best practices in
                                emotional intelligence, mental health, and personal development.
                            </p>
                            <p class="card-text text-left" style="font-size: 18px;">
                                PulsePoint is not just a tool; it is a dynamic ecosystem where users can access
                                information and engage in meaningful questions on a journey toward enhanced emotional
                                and holistic wellness. By instilling a sense of preparedness and fortitude, we can
                                empower individuals to not only confront the challenges of the day but to thrive in the
                                face of adversity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
