{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}

    <!-- Header section  -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Reset Password</h3>
                        <i class="fa-solid fa-envelope fa-5x"
                           style="color: #38B6FF; margin-top: 60px; margin-bottom: 10px;"></i>
                    </div>
                </div>
            </div>

            <!-- Form section -->
            <div style="margin-top: 50px;">
                <form method="POST" action="{% url 'password_reset' %}">
                    {% csrf_token %} <!-- security-->

                    <!-- Handling Non-Field Errors -->
                    {% if form.non_field_errors %}
                        <div class="error">
                            {{ form.non_field_errors|first }} <!-- Display the first non-field error -->
                        </div>
                    {% endif %}

                    <!-- Email Field -->
                    <div class="form-group">
                        {% if form.email.errors %}
                            <div class="error">
                                {{ form.email.errors|first }} <!-- Display the first error related to the email field-->
                            </div>
                        {% endif %}
                        <label for="email">Email</label> <!-- Label for the email field-->
                        <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter your registered email"
                                required
                        />
                    </div>

                    <!-- Submit Button -->
                    <br/>
                    <button type="submit" class="btn btn-pulse">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
