{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}

    <!-- Header section  -->
    <div class="quality_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>Reset Your Password</h3>
                    </div>
                </div>
            </div>
            <!-- Adding a top margin to move the form down -->
            <div style="margin-top: 50px;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <button type="submit" class="btn btn-pulse">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
